In [2]:
a = 2
b = 3

a + b

5

In [3]:
type(a)

int

In [4]:
a = 2.3

In [5]:
a + b

5.3

In [6]:
type(a)

float

In [7]:
len(a)

TypeError: object of type 'float' has no len()

In [8]:
type('Hello, world.')

str

In [9]:
len('Hello,world.')

12

In [10]:
'my string' + 2

TypeError: must be str, not int

In [11]:
'The dude ' + 'abides.'

'The dude abides.'

In [12]:
"The dude's rug."

"The dude's rug."

In [13]:
my_str = """It was the best of times,
it was the worst of times..."""

In [15]:
print(my_str)

It was the best of times,
it was the worst of times...

In [16]:
10**200

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [17]:
5 % 3

2

In [18]:
5 // 3

1

In [19]:
7 // 3

2

In [20]:
7/3

2.3333333333333335

In [21]:
7%3

1

In [22]:
2 - 3

-1

In [23]:
2/3

0.6666666666666666

In [24]:
a = 2/3

In [25]:
type(a)

float

In [26]:
6/3

2.0

In [27]:
int(6/3)

2

In [29]:
int(4 / 3)

1

In [30]:
2.1 + 3.2

5.300000000000001

In [31]:
2.1 / 0

ZeroDivisionError: float division by zero

In [32]:
1 / 0

ZeroDivisionError: division by zero

In [34]:
a = '4'+'2'

In [35]:
a + 2

TypeError: must be str, not int

In [36]:
a

'42'

In [37]:
int(a)

42

In [38]:
b = int(a)

In [39]:
b + 10

52

In [42]:
a = 2
a += 5
a

7

In [43]:
a /= 3

In [44]:
a

2.3333333333333335

In [49]:
a = 9
a

9

In [50]:
a /= 3

In [51]:
a

3.0

In [52]:
a = 10

In [53]:
a

10

In [54]:
a /= 2

In [55]:
a

5.0

In [56]:
'5' = 5

SyntaxError: can't assign to literal (<ipython-input-56-94d01cc30bd4>, line 1)

In [57]:
5 == 5

True

In [58]:
5 == 4

False

In [59]:
type(True)

bool

In [60]:
a = 4

In [61]:
a = 5
c = 4
a == b

False

In [62]:
a == c

False

In [112]:
a = 4
b = 5
a == c

True

In [64]:
5.3 == 5.3

True

In [65]:
2.1 + 3.2 == 5.3

False

In [66]:
(2.1 + 3.2) == 5.3

False

In [68]:
abs((2.1+3.2)-5.3) == 0

False

In [69]:
'steph curry' > 'lebron james'

True

In [72]:
ord('µ')

181

In [73]:
ord('steph curry')

TypeError: ord() expected a character, but string of length 11 found

In [74]:
'AGCTGATAGA' == 'AGTACAGATCGA'

False

In [75]:
type(a) == type(b)

True

In [76]:
a

4

In [77]:
b

5

In [80]:
str_1 = 'lebron'
str_2 = 'lebron'

str_1 is str_1

True

In [82]:
a = 5.6
b = a

a is b

True

In [86]:
a is not b

True

In [84]:
a = 2

In [85]:
b = 3

In [87]:
True and True

True

In [111]:
True or True

True

In [89]:
True or False

True

In [90]:
False or False

False

In [93]:
not (False or True)

False

In [94]:
False and False

False

In [95]:
int(True)

1

In [96]:
int(False)

0

In [107]:
codon = 'UGA'
stop_codon = ['UAA']

if codon == 'AUG':
    print('This is the start codon.')
elif codon == 'UAA' or codon == 'UAG' or codon == 'UGA':
    print('This is a stop codon.')   
else:
    print('This is NOT the start nor stop codon.')

This is a stop codon.

In [109]:
my_var = 5

In [110]:
my_var + 7

12

In [113]:
a = '1 is the loniliest number'
a

'1 is the loniliest number'

In [116]:
my_list_1 = [1,2,3,4]
type(my_list_1)

list

In [127]:
my_list_1 = [1,1,2,3,4,
             -8,'apples',
            ['here is another list',2,3,4, 5],2]
my_list_1

[1, 1, 2, 3, 4, -8, 'apples', ['here is another list', 2, 3, 4, 5], 2]

In [129]:
5 in my_list_1

False

In [133]:
codon = 'AUG'
stop_codon = ['UAA', 'UAG', 'UGA']

if codon == 'AUG':
    print('This is the start codon.')
elif codon in stop_codon:
    print('This is a stop codon.')   
else:
    print('This is NOT the start nor stop codon.')

This is the start codon.

In [131]:
stop_codon = ['UAA', 'UAG', 'UGA']

In [134]:
my_list_1 = [1, 1, 2, 3, 4, 'a string', ['a string in another list', 5]]

In [137]:
my_list_1

[1, 1, 2, 3, 4, 'a string', ['a string in another list', 5]]

In [149]:
my_list_1[0:4:2]

[1, 2]

In [154]:
my_list_1[0]

1

In [177]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(id(my_list))
my_list[4] = 'four'
print(id(my_list))

4439742088
4439742088

In [166]:
my_new_list[:4:-1]

[10, 9, 8, 7, 6, 5]

In [171]:
my_new_list[2:-2:2]

[2, 4, 6, 8]

In [175]:
my_list[4] = 'four'

In [176]:
my_list

[0, 1, 2, 3, 'four', 5, 6, 7, 8, 9, 10]

In [178]:
a = 6
print(id(a))
a = 7
print(id(a))

4392117760
4392117792

In [183]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list

my_list_2[0] = 'a'
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [184]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [185]:
my_tuple[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [189]:
my_tuple = (4, 5, 6)
a, b, c = my_tuple

In [190]:
a

4

In [191]:
my_tuple = (1,2,3)

In [192]:
my_list = list(my_tuple)

In [193]:
my_list[0] = 'a'
my_list

['a', 2, 3]

In [194]:
my_tuple

(1, 2, 3)