In [13]:
#want to compute GC content of a given sequence
seq = "AGCTGCTAGCTGATCGCATGCTGC"

#initialize counters for everything (GC count and total sequence length)
n_gc = 0
len_seq = 0

#for loop to sort through all the positions in the sequence string, then add slowly to the counters
for base in seq:
    print(base)
    len_seq += 1
    print('Is this a G or C?')
    if base in 'GgCc':
        print('I found a ' + base + "!")
        n_gc += 1
        print('Now we have ' + str(n_gc) + ' GCs')
    else:
        print('nope...')
    print('---')

n_gc / len_seq

A
Is this a G or C?
nope...
---
G
Is this a G or C?
I found a G!
Now we have 1 GCs
---
C
Is this a G or C?
I found a C!
Now we have 2 GCs
---
T
Is this a G or C?
nope...
---
G
Is this a G or C?
I found a G!
Now we have 3 GCs
---
C
Is this a G or C?
I found a C!
Now we have 4 GCs
---
T
Is this a G or C?
nope...
---
A
Is this a G or C?
nope...
---
G
Is this a G or C?
I found a G!
Now we have 5 GCs
---
C
Is this a G or C?
I found a C!
Now we have 6 GCs
---
T
Is this a G or C?
nope...
---
G
Is this a G or C?
I found a G!
Now we have 7 GCs
---
A
Is this a G or C?
nope...
---
T
Is this a G or C?
nope...
---
C
Is this a G or C?
I found a C!
Now we have 8 GCs
---
G
Is this a G or C?
I found a G!
Now we have 9 GCs
---
C
Is this a G or C?
I found a C!
Now we have 10 GCs
---
A
Is this a G or C?
nope...
---
T
Is this a G or C?
nope...
---
G
Is this a G or C?
I found a G!
Now we have 11 GCs
---
C
Is this a G or C?
I found a C!
Now we have 12 GCs
---
T
Is this a G or C?
nope...
---
G
Is this a G or C?
I found a G!
Now we have 13 GCs
---
C
Is this a G or C?
I found a C!
Now we have 14 GCs
---

0.5833333333333334

In [19]:
print(len(seq))

24

In [29]:
my_list = [1, 2, 3, 4, 5]
len(my_list)

5

In [26]:
my_list[0] *= 2
my_list[1] *= 2
my_list[2] *= 2
my_list[3] *= 2
my_list[4] *= 2

my_list
#complex way of multiplying everything by two, make a for loop for it later

[2, 4, 6, 8, 10]

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
len(list(range(10)))

10

In [36]:
len(my_list)

5

In [48]:
my_list = [1, 2, 3, 4, 5]

In [46]:
for i in my_list:
    my_list[i] *= 2
    
my_list

IndexError: list index out of range

In [49]:
for i in range(len(my_list)):
        print(i)

0
1
2
3
4

In [52]:
for i in range(len(my_list)):
    my_list[i] *= 2
    
my_list

[2, 4, 6, 8, 10]

In [53]:
range(3)

range(0, 3)

In [54]:
list(range(3))

[0, 1, 2]

In [55]:
my_list_2 = ['a', 'b', 'c']

In [62]:
for i in range(len(my_list_2)):
    my_list_2[i] += '-hey!'

In [63]:
my_list_2

['a-hey!-hey!-hey!-hey!', 'b-hey!-hey!-hey!-hey!', 'c-hey!-hey!-hey!-hey!']

In [73]:
for i in range(2, 11, 2):
    print(i, end = '   ')

2   4   6   8   10

In [76]:
for i in range(2, 10):
    print(i, end = ' ')
    
print()

for i in range(2, 10, 2):
    print(i, end = '   ')

2 3 4 5 6 7 8 9
2   4   6   8

In [77]:
seq

'AGCTGCTAGCTGATCGCATGCTGC'

In [78]:
for base in seq:
    print(base, end = ' ')

A G C T G C T A G C T G A T C G C A T G C T G C

In [87]:
for i, base in enumerate(seq):
    print(i, seq[i])

0 A
1 G
2 C
3 T
4 G
5 C
6 T
7 A
8 G
9 C
10 T
11 G
12 A
13 T
14 C
15 G
16 C
17 A
18 T
19 G
20 C
21 T
22 G
23 C

In [80]:
enumerate(seq)

In [93]:
my_list = [1, 2, 3, 4, 5]

In [94]:
for i, element in enumerate(my_list):
    my_list[i] *= 2
    
my_list

[2, 4, 6, 8, 10]

In [98]:
my_str = 'abcdef'

for i, char in enumerate(my_str):
    a = list(my_str)
    if char == 'c':
        a[i] = 'C'
a

['a', 'b', 'c', 'd', 'e', 'f']

In [103]:
names = ('Lloyd', 'Holiday', 'Heath')
positions = ('MF', 'MF', 'F')
numbers = (10, 12, 17)

for num, pos, name in zip(numbers, positions, names):
    print(num, name, pos)

10 Lloyd MF
12 Holiday MF
17 Heath F

In [105]:
alphabet = ('a', 'b', 'c', 'd', 'e')

for letter in reversed(alphabet):
    print(letter)

e
d
c
b
a

In [125]:
len(reversed(alphabet))

TypeError: object of type 'reversed' has no len()

In [117]:
seq += 'AUG' + seq

In [118]:
seq

'AGCTGCTAGCTGATCGCATGCTGCAUGAUGAUGAGCTGCTAGCTGATCGCATGCTGCAUGAUG'

In [122]:
start = 'AUG'

i = 0

while seq1[i:i+3] != start and i < len(seq):
    i += 1
    
print(i)

12

In [120]:
seq1 = 'ACTAGTATGACCAUGACAACCATG'

In [123]:
len(seq1)

24

In [126]:
ratio(1,2)

NameError: name 'ratio' is not defined

In [127]:
def ratio(x, y):
    """The ratio of 'x' to 'y'."""
    return x/y

In [128]:
ratio(1,2)

0.5

In [129]:
ratio?

Signature: ratio(x, y)
Docstring: The ratio of 'x' to 'y'.
File:      ~/git/Jupyter/<ipython-input-127-d3578a4d025f>
Type:      function

In [130]:
ratio(2,4)

0.5

In [131]:
ratio(7,2)

3.5

In [132]:
def answer_to_the_ultimate_question_of_life_the_universe_and_everything():
    """Docstring here"""
    return 42

In [133]:
answer_to_the_ultimate_question_of_life_the_universe_and_everything()

42

In [134]:
answer_to_the_ultimate_question_of_life_the_universe_and_everything?

Signature: answer_to_the_ultimate_question_of_life_the_universe_and_everything()
Docstring: Docstring here
File:      ~/git/Jupyter/<ipython-input-132-14bb924be117>
Type:      function

In [135]:
def think_too_much():
    """Express Caesar's skepticism about Cassius."""
    print("""Yond Cassius has a lean and hungry look,
    he thinks too much; such men are dangerous.""")

In [136]:
think_too_much()

Yond Cassius has a lean and hungry look,
    he thinks too much; such men are dangerous.

In [137]:
return_val = think_too_much()

Yond Cassius has a lean and hungry look,
    he thinks too much; such men are dangerous.

In [138]:
return_val

In [139]:
print(return_val)

None

In [144]:
def complement_base(base, material='DNA'):
    """Returns the W-Crick complement of a base."""
    if base in 'Aa':
        if material == 'DNA':
            return 'T'
        elif material == 'RNA':
            return 'U'
    elif base in 'TtUu':
        return 'A'
    elif base in 'Cc':
        return 'G'
    elif base in 'Gg':
        return 'C'
    else:
        return 'Discovered a problem!'
    
def reverse_complement(seq, material='DNA'):
    """Computes reverse complement of a sequence."""
    #Initialize reverse complement
    rev_seq = ''

    #Loop through and populate reverse complement
    for base in reversed(seq):
        rev_seq += complement_base(base, material=material)
    
    return rev_seq

In [148]:
reverse_complement('actaGcATTtg', material='RNA')

'CAAAUGCUAGU'

In [147]:
complement_base('A', material='RNA')

'U'

In [149]:
my_str

'abcdef'

In [150]:
my_str = 'The Dude abides.'

In [151]:
seq = 'GACAGACTCCATGCACGTGGGTATCATGTC'

In [153]:
(seq.count('G') + seq.count('C'))/len(seq)

0.5333333333333333

In [154]:
seq.count('GA')

2

In [157]:
seq.find('TCC')

7

In [158]:
'TCC' in seq

True

In [159]:
seq.rfind('GA')

4

In [160]:
dir(seq)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [163]:
'Lebron James'.lower()

'lebron james'

In [167]:
'actagtatgaccaugacaaccatg'.upper().replace('A','T').replace('T','A')

'ACAAGAAAGACCAUGACAACCAAG'

In [168]:
words = ['The', 'Dude', 'abides.']

In [169]:
' '.join(words)

'The Dude abides.'

In [170]:
'*'.join(words)

'The*Dude*abides.'

In [171]:
words

['The', 'Dude', 'abides.']

In [173]:
'nothing'.join(words)

'ThenothingDudenothingabides.'

In [176]:
my_str = """
Let's do a Mad Lib!
During this bootcamp, I feel {adjective}.
The instructor gives us {plural_noun}.""".format(adjective='truculent', plural_noun='haircuts')

print(my_str)

Let's do a Mad Lib!
During this bootcamp, I feel truculent.
The instructor gives us haircuts.

In [180]:
print('There are {n:.3f} states in the US'.format(n=50.23))

There are 50.230 states in the US

In [181]:
print('μ')

μ

In [182]:
print("Avogadro's number is {N_A:.16e}".format(N_A=6.022e23))

Avogadro's number is 6.0220000000000003e+23

In [184]:
n_states = 50
f'There are {n_states} states in the US.'

'There are 50 states in the US.'